{
  "SLACK_BOT_TOKEN": "",
  "SLACK_APP_TOKEN": "",
  "tidyhq_token": "",
  "projects": "projects.json",
  "tidyhq_token": "",
  "tidyhq_dgr_category": 667769,
  "tidyhq_project_category": 13304,
  "tidyhq_slack_id_field": "fcfe152b985f"
}
